<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="shortcut icon" href="~/icon/icon.png" type="image/x-icon" />
    <link rel="stylesheet" href="~/css/site.css" type="text/css" />
</head>
<body onload="startPage()" onresize="resizePage()" onscroll="scrollPage()">
    @await Component.InvokeAsync("Cart")
    @await Html.PartialAsync("_SignIn")
    @await Html.PartialAsync("_Header")
    @await Html.PartialAsync("_Navigation")

    <main>
        @RenderBody()
    </main>

    @await Html.PartialAsync("_Footer")

    <div id="scroll-to-top" onclick="scrollToTop()">
        <img src="~/icon/top.png" />
    </div>

    <script src="~/js/site.js"></script>
</body>
</html>
