@model IEnumerable<CategoryVM>

<div class="categories-box">
    @foreach (CategoryVM item in Model)
    {
        <a class="category header-font" href="/catalog/@item.Link">@item.Name</a>
    }
</div>