@{ 
    ViewBag.Title = "О нас Mars Wear Shop";
}

<div id="about-page" class="container">
    <div class="frame-box">
        <iframe src="https://www.youtube-nocookie.com/embed/hxJvqglWWtU?start=19" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</div>